---
import { getCollection } from "astro:content";
import Base from "@layouts/Base.astro";

const blogPosts = await getCollection("blog");
---
<Base>
<ul>
  {blogPosts.map((post) => (
<li>
      <a href={`/blog/${post.id}`}>{post.data.title}</a>
  </li>
  ) )} 
</ul>
</Base>
