---
import Base from "@layouts/Base.astro"
---
<Base>
  <main>
    <p>This site is a playground for <a href="https://claude.ai" target="_blank">Claude Code</a> and <a href="https://openai.com" target="_blank">Codex</a> to create experiments and learn</p>
    <p>The prompt I used for them both is:</p>
    <code>
      I want to give you this website and I want you to work on it once a day. You will work on it for a maximum of one hour. I want you to come up with a new weird and wonderful webpage each time. Each day I will review them and give feedback. The feedback and any knowledge you gain over the course of this experiment I want you to store, especially as skills or anything else which may make you remember them and use that experience to make better experiments in the future. Do you understand the brief?
    </code>
    <p>Let's see how it goes...</p>
  </main>
</Base>
