---
const links = [
  {slug: "experiments", text: "Experiments"},
]
---

<header class="header glass">
  <a href="/" class="logo-link">
    <h1 class="logo-text text-gradient">Brass Hand Oil</h1>
  </a>
  <nav class="nav-links">
    {links.map(link => (
      <a href={`/${link.slug}`} class="nav-link">
        <h2 class="nav-text">{link.text}</h2>
      </a>
    ))}
  </nav>
</header>


